.wrapper {
    min-height: 100%;
    overflow  : hidden;
}



$minWidth         :320px;
$maxWidth         :1440;
$maxWidthContainer:855;

$md1:$maxWidthContainer+12;
$md2:991.98;
$md3:767.98;
$md4:478.98;



@mixin adaptive-style($style, $value, $mobValue) {

    @media (min-width:$maxWidthContainer+px) {
        #{$style}: $value+px;
    }

    @media (max-width:$maxWidthContainer+px) {
        #{$style}: $mobValue+px;
    }

}



.main {
    margin-top: 180px;

    &__container {}

    &__body {
        flex: 0 0 494/855*100%;
    }

    &__img {
        background-image   : url("../../assets/user.jpg");
        background-repeat  : no-repeat;
        background-position: center;
        @include adaptive-style("height", 243, 174);
        @include adaptive-style("width", 243, 174);
        border-radius: 50%;

    }

    &__content {
        :not(:last-child) {
            @include adaptive-style("margin-bottom", 40, 21);
        }

        display : flex;

        justify-content: space-between;
    }




    .body-main {

        &__title {
            font-weight: 700;
            @include adaptive-style("font-size", 44, 32);
            @include adaptive-style("line-height", 60, 40);
            color: #21243D;
        }
    }

    .btn {
        font-weight  : 500;
        font-size    : 20px;
        line-height  : 29/20*100%;
        color        : #FFFFFF;
        background   : #FF6464;
        border-radius: 2px;
        height       : 46px;
        width        : 208px;
    }
}