.wrapper {
    min-height: 100%;
    overflow  : hidden;
}



$minWidth         :320px;
$maxWidth         :1440;
$maxWidthContainer:855;

$md1:$maxWidthContainer+12;
$md2:991.98;
$md3:767.98;
$md4:478.98;



@mixin adaptive-style($style, $value, $mobValue) {

    @media (min-width:$maxWidthContainer+px) {
        #{$style}: $value+px;
    }

    @media (max-width:$maxWidthContainer+px) {
        #{$style}: $mobValue+px;
    }

}

.work {

    &__container {}

    &__content {}

    &__title {
        font-weight: 400;
        @include adaptive-style("font-size", 22, 18);
        line-height: 60/22*100%;
        color      : #21243D;
    }

    &__items {}

    &__item {}

    .item-work {
        @media (min-width:$maxWidthContainer+px) {
            display: flex;
        }

        padding      : 30px 0 30px 0;
        border-bottom: 1px solid silver;
        ;

        &__img {
            background-image : url("../../assets/2.png");
            background-repeat: no-repeat;
            min-width        : 246px;
            min-height       : 180px;

            @media (min-width:$maxWidthContainer+px) {
                margin-right: 30px;
            }
        }

        &__title {
            font-weight: 700;
            @include adaptive-style("font-size", 30, 24);
            @include adaptive-style("line-height", 44, 30);
            color      : #21243D;
            text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
        }

        &__info {
            display: flex;

            :not(:last-child) {
                @include adaptive-style("margin-right", 28, 22);
            }
        }

        &__body {
            :not(:last-child) {
                margin-bottom: 20px;
            }
        }

        &__info-year {
            font-weight  : 900;
            font-size    : 18px;
            text-align   : center;
            color        : #FFFFFF;
            background   : #142850;
            border-radius: 16px;
            width        : 62px;
            height       : 25px;

        }

        &__info-type {
            font-weight: 400;
            font-size  : 20px;
            line-height: 29px;
            color      : #8695A4;
        }

        &__text {}
    }


}