/* обнуление */

*,
*::before,
*::after {
    padding   : 0;
    margin    : 0;
    border    : 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
}

ul,
ol,
li {
    list-style: none;
}

img {
    vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: inherit;
    font-size  : inherit;
}

._icon-fb:before {
    content: "\e900";
}

._icon-group:before {
    content: "\e901";
}

._icon-insta:before {
    content: "\e902";
}

._icon-lk:before {
    content: "\e903";
}

$fontSize         :16px;
$maxWidthContainer:855;
$mainColor        :#3A3A3A;
$orangeColor      :#E89F71;
$greyColor        :#898989;
$darkGreyColor    :#616161;

@mixin adaptive-style($style, $value, $mobValue) {

    @media (min-width:$maxWidthContainer+px) {
        #{$style}: $value+px;
    }

    @media (max-width:$maxWidthContainer+px) {
        #{$style}: $mobValue+px;
    }

}

._container {
    max-width: $maxWidthContainer+px;
    margin   : 0 auto;
    padding  : 0 15px;
}

html,
body {
    height     : 100%;
    font-size  : $fontSize;
    color      : $mainColor;
    font-family: 'Heebo', sans-serif;

}

.text {
    font-weight: 400;
    @include adaptive-style("font-size", 16, 13);
    line-height: 24/16*100%;
    color      : #21243D;
}